@font-face {
  font-family: "iconfont"; /* Project id 2825873 */
  src: url('iconfont.woff2?t=1632794664002') format('woff2'),
       url('iconfont.woff?t=1632794664002') format('woff'),
       url('iconfont.ttf?t=1632794664002') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-baojing:before {
  content: "\e68e";
}

.icon-shuaxin:before {
  content: "\e640";
}

.icon-fanhui:before {
  content: "\e618";
}

.icon-tuichu1:before {
  content: "\e63c";
}

